:root {
  --black: #2e3440;
  --darker-gray: #3b4252;
  --dark-gray: #434c5e;
  --gray: #4c566a;
  --light-gray: #d8dee9;
  --lightest-gray: #e5e9f0;
  --white: #eceff4;

  --teal: #8fbcbb;
  --light-blue: #88c0d0;
  --cornflower: #81a1c1;
  --bue: #5e81ac;
  --reb: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --porpol: #b48ead;
  
  /*NEW TUFF COLORS */
  --blackest: #2c3531;
  --greeb: #116466;
  --tan: #d9b08c;
  --bagel: #ffcb9a;
  --perry: #d1e8e2;

}
h1 {
  font-size: 96px;
}

* {
  overflow-wrap: break-word;
}

body {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  min-height: 95vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--teal);
  background-color: var(--black);
}

a {
	text-decoration: none;
  color: var(--bue);
}

.center{
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
  flex-wrap: wrap;
}

.custcard {
  width: 8vw; /* 150px */
  height: 10vh; /* 115px */
  display: flex;
  flex-direction: column;
  border-width: 4px;
  border: 2px solid rgba(146,220,254);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.custcard:hover {
  box-shadow: -6px -6px 0px var(--black), -12px -12px 0px var(--porpol), 6px 6px 0px var(--black), 12px 12px 0px var(--porpol);
}
.custcard {
  transition: box-shadow 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
}

.main-description {
  font-size: 16px;
  text-align: center;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (on cross axis) */
  padding: 15px 1;            /* Add padding to the top/bottom */
}

i {
  font-size: 48px;
  color: var(--green);
  margin-bottom: 5px;
}

.divider-line {
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 20px;
}

.parent {
  overflow: hidden; /* required */
}
