:root {
  --bg: #11111b;
  --custcard: #1e1e2e;
  --text: #cdd6f4;
  --link: #89b4fa;
  --highlight: #cba6f7;
  --icon: #a6e3a1;

  --match-bg: var(--bg);

  --mono: CaskaydiaCove;

  font-family: var(--mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: CaskaydiaCove;
  src: url("/CaskaydiaCoveNerdFontMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CaskaydiaCove;
  src: url("/CaskaydiaCoveNerdFontMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CaskaydiaCove;
  src: url("/CaskaydiaCoveNerdFontMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: CaskaydiaCove;
  src: url("/CaskaydiaCoveNerdFontMono-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #11111b;
    --custcard: #1e1e2e;
    --text: #cdd6f4;
    --link: #89b4fa;
    --highlight: #cba6f7;
    --icon: #a6e3a1;
  }
}

body {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--link);
}

/*#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}*/
